body{
		margin:0;
		margin-top:1px;
		padding:0;
		background-color: rgb(249,248,248);
	}

	input{
		border-radius:15px;
		margin-bottom:10px;
		width:300px;
		padding-left:10px;
		border:.5px solid #ccc;
	}

	#search-btn{
		border:none;
		margin-left:10px;
		border-radius:5px;
		cursor:pointer;
	}

	/*modified bootstrap*/
	.mr-3{
		float:left ;		
	}
	.badge-light {
    color: #111;
    background-color: #e7e9ea;
	}

	/*modified bootstrap*/
	

	.list-group-item:hover{
		background-color:rgba(242,243,243,.3);
		cursor:pointer;
	}

	
	.my-container{
		padding:30px 80px;

	}
	/*nav-bar styling*/
	
 	.my-nav-bar{
		top:2px;
		height: 90px;
		width: 100%;
		background-color: #fff;
		border-bottom:.5px solid rgba(246,246,245,1);
		line-height: 90px;
		margin-bottom:20px;
	}
	
	.my-shadow{
  		position: relative;
	}
	

	.my-shadow:before, .my-shadow:after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 17px;
		left: 10px;
		width: 30%;
		top: 15%;
		background: #777;
		box-shadow: 0 15px 10px #777;
		transform: rotate(-1.5deg);
	}

	.my-shadow:after{
   		transform: rotate(0.8deg);
  		right: 10px;
  		left: auto;
	}

	/*nav-bar styling*/
	::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
	.poster{
		box-shadow: 0px 2px 10px 0px #A4A4A4;
	}

	/*css-grid-template-layout for detail-view*/
	.my-grid-layout{
		display:grid;
		grid-template-columns:  5fr 4fr;
		grid-template-rows: 3fr 2.5fr ;
		grid-column-gap:100px;
		grid-row-gap:15px;
		grid-template-areas:"image suggestions"
							"details suggestions"
							;
	}
	
	.image-grid{
		grid-area:image;
	}

	.details-grid{
		grid-area:details;

	}
	
	.suggestions{
		grid-area:suggestions;
		max-height:800px;
		overflow:scroll;
		overflow-x:hidden;
	}
	/*css-grid-template-layout for detail-view*/
