{% extends 'base.html' %}

{% block content %}
	<div class="my-grid-layout">
		<div class="image-grid">
			<img class="rounded poster" src="{{movie.poster.url}}" height="400px" width="960px" >
		</div>
		<div class="details-grid">
			
						 <div class="media-body">
			                <h2 class="mt-0 mb-1">
			                    
        							{{ movie.name }} 
    							
    							 ({{movie.year | date:"Y"}})
			                </h2>
			                	<b>Ratings :</b>  <span class="badge badge-warning"><i class="fa fa-star" aria-hidden="true"></i>
{{ movie.ratings }}/10.0</span>
			                	<br>
			                	<b>Genre:</b>
			            		{% for genre in movie.get_genre %}
									<span class="badge badge-light">{{ genre }}</span>
			            		{% endfor %}
			            		<br>
			            		
			            		<b> Release Date: </b> {{movie.year}}
			            		<br>
			            		<b>Duration:</b>{{movie.duration}} mins
			            		
			            		<div class="storyline" style="margin-top: 15px;">
			                			{{ movie.storyline }}
								</div>
			                	
			                	<br>
			                	<br>
			                	
			                	<div >
			                	<b>Starring:</b>
							            {% for cast in movie.get_cast %}
											<span class="badge badge-primary">{{ cast }}</span>
							            {% endfor %}
								</div>
			            </div>

		</div>
		<div class="suggestions">
				<h4>Suggestions</h4>
				<ul class="list-unstyled list-group ">
			{% for movies in list %}
				  <img style="float: left;display: inline-block;" alt="Generic placeholder image" class="d-flex mr-3 rounded" src="{{ movies.thumbnail.url}}" height="210px" width="260px" onclick="window.location.href='{{ movies.get_absolute_url }}'">
				  <div class="media-body" style="margin-bottom: 10px;">
				  	{{movies.name }}({{movies.year | date:"Y"}}) |  <span class="badge badge-warning"><i class="fa fa-star" aria-hidden="true"></i>
{{ movies.ratings }}/10.0</span>

				  </div>
			{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}