{% extends 'base.html' %}

{% block content %}
		
		<div class="my-search-bar" style="display: inline-block;">
			<form id="form" method="GET" action=".">
				<input type="text" placeholder="Search Movie..." name="q" value= {{request.GET.q}}>
				<input type="hidden" id="sort" name="sort_by">
				<button id="search-btn" type="submit">Search</button>
			</form>
		</div>

		<div class="sort-drop" style="display: inline-block;float:right;">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sort By
					</button>
					<div class="dropdown-menu" aria-labelledby="about-us">
						<span id="namesort" class="dropdown-item" ><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
 Name</span>
						<span id="ratesort" class="dropdown-item" ><i class="fa fa-star" aria-hidden="true"></i> Ratings</span>
						<span id="yearsort" class="dropdown-item" ><i class="fa fa-calendar" aria-hidden="true"></i>
 Latest</span>
					</div>
				</div>	
		</div>



	<ul class="list-unstyled list-group">
	{% if not list %} <h3>Movie not found!!</h3>{% endif %}
	{% for movie in list %}
			
			    <li class="media list-group-item" id=listitem_{{movie.pk}} onclick="window.location.href ='{{ movie.get_absolute_url }}' ")>
			        <img alt="Generic placeholder image" class="d-flex mr-3 rounded" src="{{ movie.thumbnail.url}}" height="180px" width="180px">
			            <div class="media-body">
			                <h5 class="mt-0 mb-1">
			                    <a href="{{ movie.get_absolute_url }}">
        							{{ movie.name }} 
    							</a>
    							 ({{movie.year | date:"Y"}})
			                </h5>
			                	<b>Ratings </b> : <span class="badge badge-warning"><i class="fa fa-star" aria-hidden="true"></i>
{{ movie.ratings }}/10.0</span>
			                	<br>
			                	<b>Genre:</b>
			            			{% for genre in movie.get_genre %}
										<span class="badge badge-light">{{ genre }}</span>
			            			{% endfor %}
			            			<br>
			            			<div class="storyline" style="margin-top: 15px;">
			                			{{ movie.storyline | truncatechars:300 }}
			                		</div>
			                		<br>
			                		<div style="position: absolute; left:215px; bottom:10px">
			                			<b>Starring:</b>
							            {% for cast in movie.get_cast %}
											<span class="badge badge-primary">{{ cast }}</span>
							            {% endfor %}
									</div>
			            </div>

			        
			    </li>
	{% endfor %}
	</ul>
{% endblock %}
